@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  overflow-x: hidden;
}

@layer components {

  .h-rest {
      height: calc(100vh - 200px);
  }
  .h-chatWindow {
      height: calc(100vh - 12.2rem);
  }

  .h-aside{
      height: calc(100vh - 20rem);
  }

}



@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking {
  animation: blink 1s infinite;
}