@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  overflow-x: hidden;
}

@layer components {

  .h-rest {
      height: calc(100vh - 200px);
  }
  .h-chatWindow {
      height: calc(100vh - 12.2rem);
  }

  .h-aside{
      height: calc(100vh - 20rem);
  }

}

